.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.imgNavbar{
  background: url(../public/Img/annie-spratt-_XdU9Q5iFRE-unsplash.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-size: cover;
}

.Navbar-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 11vh;
}

.GoodTimes{
  font-size: 50px;
  color: #B99A75;  
  text-decoration: none;
  letter-spacing: 3px;
  margin-left: 35vw;
}

.Navbar1-2{
  height: 7vh;
  margin-right: 2vw;
  letter-spacing: 30px;
}

.navLink1{
  color: #B99A75;  
  background-color: #fff;
  border: #fff;
  height: 7vh;
  letter-spacing: 6px
}

.navLink2{
  color: #B99A75;  
  background-color: #fff;
  border: #fff;
  height: 9vh;
  letter-spacing: 6px
}

.imageGiftHomePage {
  position: relative;
  z-index: 1;
  top: 150px;
  left: 160px;
  margin-bottom: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


.rectangle {
  position: absolute;
  top: 2px;
  left: 155px;
  margin-bottom: 10px;
}

.Profile{
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center
}

.ContainerProfileInfo{
  position: relative;
  top: 40px; 
  left: 20px;
  width: 600px;
  padding: 20px;
}

.headlinePofile{
  position: absolute;
  top: 5%;
  left: 70%;
  font-size: 30px;
  color: #B99A75;  
  /* transform: translate(); */
}
.headlineList{
  font-size: 30px;
  color: #000; 
  font-weight: 200;
  margin-left: 300px;
}
.ContainerGiftList{
  margin-top: 50px;
  margin-right: 200px;
  justify-content: center;
  padding-right: 80px;
}

.ContainerRecipients{
  background-color:rgb(242,	229, 214, 0.8); 
  width: 450px;
  height: 150px;
  margin-bottom: 20px;
  margin-left: 300px;
  border-radius: 6px;
  padding: 5px;
}


.ContainerAddRecipient{
  margin-top: 90px;
  padding-right: 60px;
  margin-left: 350px ;
}

.SignupPage-Container{
  margin-left: 20vh;
  position: relative; 
  width: 500px;
}

.headline {
  font-size: 28px;
  color: #000;
  letter-spacing: 6px;
  text-align: center;
  margin-top: 70px;
}

.Details{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #000;
  letter-spacing: 3px;
  font-weight: 500;
}

.Details2{
  font-size: 12px;
}

.Details3{
    letter-spacing: 3px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
  }

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.Signup-Form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ContainerRecipientDetailsListPage{
  float: left;
}

input {
  width: 300px;
  background: #D9D9D9;
  width: 65%;
  color: #000;
  border: none;
  padding: 9px;
  margin: 5px;
  border-radius: 10px;
}

input:focus {
  color: #B99A75;
  outline: none;
  font-size: 1em;
  transition: .8s all ease;
}

label{
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 500;
}

.signUpbtn{
  background-color: #363636;
  color: #F2E5D6;
  /* margin-top: 25px; */
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  font-size: 10px;
}


.signUpbtn:hover {
  background: #728d7a;
  border-color: darken(#728d7a, 5%);
  transition: background-color 1s ease-out;
}

.imgSignUpPage{
  float: right;
  margin-right: 40vh;
  margin-bottom: 5vh;
  height: auto;
  width: 300px
}

.imgHomePage{
  float: left;
  margin-left: 35vh;
  margin-top: 7vh;
  height: auto;
  width: 300px
}

.headlineHomePage{
  font-size: 18px;
}

.HomePage-Container{
  margin-right: 30vh; 
  margin-top: 25vh; 
  float: right;
  width: 500px;
}

.button-down {
  position: absolute;
  padding: 5px;
  margin-top: 540px;
  margin-left: 650px;
  background: #363636;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.arrowPosition{
  margin-top: 300px;
}
.button-down:hover {
  transform: translate3d(0, 10px, 0);
}

.button-down::after {
  content: "";
  position: absolute;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.button-down::after {
  top: 7px;
  left: 12px ;
  transform: rotate(225deg);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ContainerAddGift{
  margin-top: 90px;
  width: 400px;
  margin-left: 800px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  font-size: calc(10px + 2vmin);
  color: white;
}

/* add list css  */

.searchForm{
  float: left;
  margin-top: 330px;
  margin-left: -220px;
  background-color: rgb(242, 229, 214, 0.7);
  border-radius: 20px;
  width: 750px;
}

#search{
  margin-top: 30px;
}

.headlineSearchForm{
  font-weight: 500;
  font-size: 40px;
  margin-top: 40px;
}
:root {
  --surface-color: #fef8f8;;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin: 3rem 0vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__background {      
  width: 450px;
  height: 300px;
  background-color: rgb(185, 154, 117, 0.9);
  padding-top: 50px;
  color: #F2E5D6;
  font-size: 20px;
  letter-spacing: 3px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 25px;
  margin: 0 0 .4em;
  color: #6A515E;
  font-weight: 200; 
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
  font-weight: 200; 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  

}
